*, *::before, *::after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  font-smoothing: antialiased;
  font-rendering: optimizeLegibility;
}

body {
  font-family: 'Inter Variable', sans-serif;
  background-color: hsl(var(--color-background));
  color: hsl(var(--color-foreground));
}
